.full-width-table {
  width: 100%;
}

.header-data {
  width: 80%;
  margin: 20px auto;
}

.header-label {
  color: white;
  font-weight: bold;
  font-size: large;
}

.table-data {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-cell,
.mat-footer-cell {
  font-size: 12px;
}

.fake-link {
  color: rgb(43, 43, 187);
  text-decoration: underline;
  cursor: pointer;
}

.available {
  color: green;
}

.not-available {
  color: red;
}

.add-btn {
  float: right
}

.success {
  background-color: green;
  color: white
}

.primary {
  background-color: rgba(0, 110, 255, 0.76);
  color: white
}

.header-label {
  color: white;
  font-weight: bold;
  font-size: large;
}

.element-row {
  position: relative;
  overflow: initial;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.mat-table {
  overflow: auto;
}

.search-container {
  text-align: center;
  margin-top: 30px;
}

.search-field {
  width: 30%;
  background-color: white;
  color: black;
  padding: 10px 10px 0px 10px;
}

.search-icon {
  cursor: pointer;
}

.button-gap {
    margin-left: 20px;
}
