.header-data {
  width: 80%;
  margin: 20px auto;
}

.header-label {
  color: white;
  font-weight: bold;
  font-size: large;
}

.add-btn {
  float: right
}

.success {
  background-color: green;
  color: white
}
